<div id="cardRe">
  <div class="card bg-info">
    <div class="card-body">
      <div *ngFor="let utente of utenti" class="utente-todo">
        <div class="utente">
          <img [src]="utente.image" alt="Immagine utente" />
          <div class="info">
            <h2>{{ utente.firstName }} {{ utente.lastName }}</h2>
            <p>{{ utente.email }}</p>
            <p>{{ utente.title }}</p>
          </div>
        </div>
        <div
          class="todo"
          [ngClass]="{
            'bg-success': isCompleted(utente.id),
            'bg-danger': !isCompleted(utente.id)
          }"
        >
          <h6>{{ utente.firstName }}'s Todos</h6>
          <div *ngFor="let todo of getTodosByUserId(utente.id)">
            <p>{{ todo.todo }}</p>
            <p *ngIf="todo.completed">Completed</p>
            <p *ngIf="!todo.completed">Not completed</p>
          </div>
          <p *ngIf="isCompleted(utente.id)">
            <strong>Tutti i Todos completati!</strong>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
